@import '../assets/scss/colors.scss';
.header{
  display: flex;
  padding: 15px;
  background-color: $backgroundColor;
  width: 100%;
  flex-direction: row;
  &__logo{
    width: 65px;
    height: 65px;
  }
  &__login-cont{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

  }
  &__openNavigation{
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  &__openNavigationImg{
    width: 50px;
    height: 50px;
  }
  &__openNavigationButton{
    background-color: transparent;
    border: none;
    position: relative;
    right: 6vw;
  }
  &__leave{
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn{
      height: 50px;
      background-color: #0526ff;
      border: none;
      border-radius: 20px;
      color: $textColor;
      padding: 0 25px;
    }
  }
  &__login{
    margin-left: 20px;
    color: $textColor;
  }

}
@media (min-width: 1000px) {
  .header__openNavigation{
    display: none;
  }
  .navigation-mobile{
    display: none;
  }
}
@media (max-width: 1000px) {
  .header h1{
    font-size: 5vw;
    margin: 0;
  }
  .navigation-mobile{
    background-color: $backgroundColor;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px 0;
    animation: navigation-open 1s;
    & a{
      margin-top: 5px;
      text-decoration: none;
      color: $textColor;
      font-size: 20px;
    }
  }
  .header__login{
    margin-left: 0;
    margin-right: 5px;
  }
}
@keyframes navigation-open {
  0% {scale: 0; opacity: 0}
}